############################
# Sistemas Operativos
############################
# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Archivos de Paquetes
############################
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# Logs, Debug y Bases de Datos
############################
.tmp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
lerna-debug.log*
logs
*.sql
*.sqlite
*.sqlite3

############################
# Salidas de Build
############################
dist
dist-ssr
build

############################
# Archivos y Directorios Misceláneos
############################
*#
ssl
.nbproject
.eslintcache
*.local
*.pem

############################
# Configuración de Editores y Proyectos
############################
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

############################
# Node.js
############################
lib-cov
lcov.info
pids
results
node_modules
.node_history

############################
# Gestores de Paquetes (Yarn/PNPM)
############################
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
/.pnp

############################
# Cobertura de Pruebas
############################
coverage

############################
# Strapi
############################
.env*
license.txt
exports
.strapi
.strapi-updater.json
.strapi-cloud.json

############################
# Public Uploads
############################
public/uploads/*
!public/uploads/.gitkeep

############################
# Next.js
############################
.next/
out/
next-env.d.ts

############################
# Vercel
############################
.vercel
